@model KoiCareSys.Data.Models.KoiRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KoiRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Koi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Koi.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevelopmentStage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevelopmentStage.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
