@page
@model KoiCareSys.WebApp.Pages.DevelopmentStagePage.IndexModel
@{
    ViewData["Title"] = "Development Stage Page";
}
<!-- Container -->
<div id="container">
    <div class="shell">
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
            <!-- Content -->
            <div id="content">
                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2 class="left">Development Stages</h2>
                        <div class="right">
                            <label>Search Development Stage</label>
                            <form method="post">
                                <input type="text" name="keyword" class="field small-field" />
                                <input type="submit" class="button" value="search" />
                            </form>
                        </div>

                        <a asp-page="./Create" class="btn btn-md btn-primary">Create</a>
                    </div>
                    <!-- End Box Head -->
                    <!-- Table -->
                    <div class="table">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>No. </th>
                                <th>Id</th>
                                <th>Stage Name</th>
                                <th>Required Food Amount</th>
                                <th width="110" class="ac">Content Control</th>
                            </tr>
                            @if (Model.DevelopmentStages.Count == 0)
                            {
                                <tr>
                                    <td colspan="5">No records found.</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model.DevelopmentStages)
                                {
                                    <tr class="@(Model.DevelopmentStages.IndexOf(item) + 1 % 2 == 0 ? "odd" : "")">
                                        <td>@(Model.DevelopmentStages.IndexOf(item) + 1)</td>
                                        <td>@item.Id</td>
                                        <td>@item.StageName</td>
                                        <td>@item.RequiredFoodAmount</td>
                                        <td>
                                            <a asp-page="./Details" asp-route-id="@item.Id" class="ico edit">Details</a>
                                            <a asp-page="./Update" asp-route-id="@item.Id" class="ico edit">Edit</a>
                                            <a asp-page="./Delete" asp-route-id="@item.Id" class="ico del">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <!-- Table -->
                </div>
                <!-- End Box -->
            </div>
            <!-- End Content -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
<!-- End Container -->
