@model PondDto

<h2>Pond Details</h2>

<p><strong>Pond Name:</strong> @Model.PondName</p>
<p><strong>Volume:</strong> @Model.Volume</p>
<p><strong>Depth:</strong> @Model.Depth</p
<p><strong>DrainCount:</strong> @Model.DrainCount</p>
<p><strong>SkimmerCount:</strong> @Model.SkimmerCount</p>
<p><strong>PumpCapacity:</strong> @Model.PumpCapacity</p>
<p><strong>ImgUrl:</strong> @Model.ImgUrl</p>
<p><strong>Note:</strong> @Model.Note</p>
<p><strong>Description:</strong> @Model.Description</p>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>IsQualified:</strong> @Model.IsQualified</p>
<p><strong>User:</strong> @ViewBag.SelectedEmail</p>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
    